.calendar-menu button {
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 10px;
}

.calendar-menu button.up-button {
	background-image: url('/img/arrow-up.svg');
}

.calendar-menu button.prev-button {
	background-image: url('/img/arrow-back.svg');
}

.calendar-menu button.next-button {
	background-image: url('/img/arrow-forward.svg');
}

.calendar-menu .description {
	margin-right: 10px;
}

.calendar .view-day .slot-minutes {
	font-size: 0.5em;
}
