@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root {
  --gold: #D4AF37;
}

body {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 16pt;
}

h1 {
	font-size: 200%;
}

h2 {
	font-size: 180%;
	border-style: solid;
	border-width: 1px 0 1px 0;
	border-color: var(--gold);
}

h3 {
	font-size: 150%;
	color: var(--gold);
	border-bottom: solid 1px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	display: inline-block;
	padding: 5px;
}

a {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

.intro img {
	max-width: 200px;
}

.main {
	position: relative;
}

.gold, strong, footer a {
	color: var(--gold);
}

.map {
	height: 400px;
}

footer {
	font-size: 10px;
}
